<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <title>Auditoría de Usuarios</title>
</head>
<body>
<div class="container" layout:fragment="content">
<h2>Auditoría de cambios en usuarios</h2>

<table border="1" cellpadding="6">
    <thead>
    <tr>
        <th>ID</th>
        <th>Usuario afectado</th>
        <th>Acción</th>
        <th>Realizado por</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${auditorias}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.usuarioAfectado.email}"></td>
        <td th:text="${a.accion}"></td>
        <td th:text="${a.realizadoPor}"></td>
        <td th:text="${#temporals.format(a.fechaAccion, 'dd/MM/yyyy HH:mm')}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>