<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Registro de usuario</title>
</head>
<body>
<div class="container mt-5" layout:fragment="content" >
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-8">
            <div class="bg-white shadow rounded p-5">
                <h3>Registro de usuario</h3>
                <form th:action="@{/registrar/registro}" method="post" class="mt-5 " th:object="${usuario}">
                    <div class="mb-2">

                        <label for="dni">Documento de Identidad</label>
                        <input type="text" id="dni"
                               placeholder="Documento de Identidad"
                               th:field="*{dni}"
                               class="form-control form-underline"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback"
                             th:errors="*{dni}" th:if="${#fields.hasErrors('dni')}"
                        >
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="nombres">Nombres</label>
                        <input type="text" id="nombres"
                               placeholder="Nombres"
                               th:field="*{nombres}"
                               class="form-control form-underline"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback"
                             th:errors="*{nombres}" th:if="${#fields.hasErrors('nombres')}"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos"
                               placeholder="Apellidos"
                               th:field="*{apellidos}"
                               class="form-control form-underline"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback"
                             th:errors="*{apellidos}" th:if="${#fields.hasErrors('apellidos')}"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="celular">Celular</label>
                        <input type="text" id="celular"
                               placeholder="Celular"
                               th:field="*{celular}"
                               class="form-control form-underline"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback"
                             th:errors="*{celular}" th:if="${#fields.hasErrors('celular')}"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="email">Email</label>
                        <input type="email" id="email"
                               placeholder="Email"
                               th:field="*{email}"
                               class="form-control form-underline"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback"
                             th:errors="*{email}" th:if="${#fields.hasErrors('email')}"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="password1">Password</label>
                        <input type="password" id="password1"
                               placeholder="Password"
                               th:field="*{password1}"
                               class="form-control form-underline"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback"
                             th:errors="*{password1}" th:if="${#fields.hasErrors('password1')}"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="password2">Repite Password</label>
                        <input type="password" id="password2"
                               placeholder="Password"
                               th:field="*{password2}"
                               class="form-control form-underline"
                               th:errorClass="is-invalid">
                        <div class="invalid-feedback"
                             th:errors="*{password2}" th:if="${#fields.hasErrors('password2')}"
                        >
                        </div>
                    </div>
                    <div class="mb-2 form-check">
                        <input type="checkbox"
                               id="politica"
                               th:field="*{politica}"
                               class="form-check-input" th:errorclass="is-invalid">
                        <label class="form-check-label" for="politica">
                            Acepto las <a href="/politicas-de-privacidad" target="_blank">políticas de privacidad</a>.
                        </label>
                        <div class="invalid-feedback"
                             th:errors="*{politica}" th:if="${#fields.hasErrors('politica')}">
                        </div>
                    </div>

                    <div class="text-end mt-3">
                        <button class="btn btn-primary">Regístrate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>