<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>usuario</title>
</head>
<body>
<div class="container mt-5" layout:fragment="contents">

    <table>
        <thead>
        <tr>
            <th>DNI</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Celular</th>
            <th>Direccion</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td></td>
        </tr>

        </tbody>
    </table>


</div>

</body>
</html>