<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Admin - Categorías</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-4">-->
<!--    <h1>-->
<!--        Categorías-->
<!--        <a class="btn btn-sm btn-primary float-end" th:href="@{/admin/categorias/nuevo}">Crear</a>-->
<!--    </h1>-->

<!--    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>-->
<!--    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>-->

<!--    <table class="table table-striped mt-3">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Nombre</th>-->
<!--            <th>Slug</th>-->
<!--            <th>Activo</th>-->
<!--            <th>Creado</th>-->
<!--            <th>Acciones</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="c : ${categorias}">-->
<!--            <td th:text="${c.nombre}">Nombre</td>-->
<!--            <td th:text="${c.slug}">slug</td>-->
<!--            <td th:text="${c.activo} ? 'Sí' : 'No'"></td>-->
<!--            <td th:text="${#dates.format(c.createdAt, 'dd/MM/yyyy HH:mm')}"></td>-->
<!--            <td>-->
<!--                <a th:href="@{|/admin/categorias/editar/${c.id}|}" class="btn btn-sm btn-secondary">Editar</a>-->
<!--                <form th:action="@{|/admin/categorias/toggle/${c.id}|}" method="post" style="display:inline">-->
<!--                    <button type="submit" class="btn btn-sm btn-warning" th:text="${c.activo} ? 'Desactivar' : 'Activar'"></button>-->
<!--                </form>-->
<!--                <form th:action="@{|/admin/categorias/delete/${c.id}|}" method="post" style="display:inline" onsubmit="return confirm('¿Seguro que deseas eliminar esta categoría?');">-->
<!--                    <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
<!--<script th:src="@{/js/categoria-admin.js}"></script>-->
<!--</body>-->
<!--</html>-->
