<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{master.html}">
<head><title>Despacho</title></head>
<body>
<div class="container mt-4" layout:fragment="content">

    <a href="/admin/dashboard" class="btn btn-secondary me-3"><i class="fas fa-arrow-left"></i></a>

    <h2><i class="fas fa-truck-loading"></i> Asignación de Rutas</h2>



    <div class="table-responsive mt-3">
        <table class="table table-hover align-middle">
            <thead class="table-light">
            <tr>
                <th>Pedido</th>
                <th>Dirección</th>
                <th>Empaquetado por</th>
                <th>Detalle</th>
                <th>Asignar Chofer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${pedidos}">
                <td th:text="${p.codigoPedido}"></td>
                <td class="small" th:text="${p.direccion.calleAvenida}"></td>
                <td>
                    <span class="badge bg-secondary" th:text="${p.almacenero != null ? p.almacenero.nombres : 'N/A'}"></span>
                </td>
                <td class="text-center">
                    <a th:href="@{/admin/pedidos/detalle/{id}(id=${p.id}, origen='despacho')}"
                       class="btn btn-sm btn-outline-info"
                       title="Ver Detalle e Imprimir">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a th:href="@{/admin/pedidos/imprimir/{id}(id=${p.id}, origen='despacho')}"
                       class="btn btn-sm btn-outline-info"
                       title="Ver Detalle e Imprimir">
                        <i class="fas fa-print"></i>
                    </a>
                </td>
                <td>
                    <form th:action="@{/logistica/despacho/asignar}" method="post" class="d-flex gap-2">
                        <input type="hidden" name="pedidoId" th:value="${p.id}">
                        <select name="choferId" class="form-select form-select-sm" required>
                            <option value="">Seleccionar Chofer...</option>
                            <option th:each="c : ${choferes}" th:value="${c.id}" th:text="${c.nombres} + ' ' + ${c.apellidos}"></option>
                        </select>
                        <button class="btn btn-success btn-sm"><i class="fas fa-check"></i></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>