

/* Aplica a todos los inputs de tipo texto, email, password, etc */
    .form-underline {
        border: none !important;
        border-bottom: 2px solid #ccc !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        outline: none !important;
        transition: border-color 0.3s ease-in-out !important;
    }

    /* Color al hacer focus */
    .form-underline:focus {
        border-bottom: 2px solid #007bff !important; /* Azul Bootstrap */
        box-shadow: none !important;
    }

    /* Si está en error */
    .form-underline.is-invalid {
        border-bottom: 2px solid #dc3545 !important; /* Rojo error */
    }

    /* Si está válido */
    .form-underline.is-valid {
        border-bottom: 2px solid #28a745 !important; /* Verde valid */
    }

    html, body {
        height: 100%; /* Para que ocupe toda la altura de la ventana */
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Mínimo el alto de la ventana */
    }

    main {
        flex: 1; /* El contenido crece y empuja el footer hacia abajo */
    }



    .link-float {
  color: #6c757d; /* gris Bootstrap */
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 12px;
  transition: all 0.3s ease;
  display: inline-block;
}

.link-float:hover {
  background-color: rgba(255, 255, 255, 0.9); /* blanco opaco */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* sombra suave gris */
  transform: translateY(-2px); /* leve efecto de elevación */
  color: #495057; /* gris más oscuro */
}