<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Habilitar Tipo de Producto</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h1>Tipos de Producto Desactivados</h1>

    <a th:href="@{/admin/tproducto}" class="btn btn-secondary">Regresar al Listado Activo</a>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Categoría</th> <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tpro : ${tiposProducto} ">
            <td th:text="${tpro.id}"></td>
            <td th:text="${tpro.nombre}"></td>
            <td th:text="${tpro.idCate.nombre}"></td> <td th:text="${tpro.estado? 'Habilitado': 'Deshabilitado'}"></td>
            <td>
                <a href="#" title="Habilitar Tipo de Producto" class="btn btn-success btn-sm" onclick="return confirmarHabilitar(this)">
                    <i class="fa fa-eye"></i>
                </a>
                <form th:action="@{/admin/tproducto/habilitar/{id}(id=${tpro.id})}" method="get" class="d-none"></form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div layout:fragment="scripts">
    <script>
        function confirmarHabilitar(etiqueta)
        {
            var ok = confirm('¿Estás seguro de HABILITAR este Tipo de Producto?');

            if(ok)
            {
                etiqueta.nextElementSibling.submit();
            }
            return false;
        }
    </script>
</div>
</body>
</html>