<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title th:text="${categoria.id == null ? 'Registrar Nueva Categoría' : 'Editar Categoría'}"></title>
</head>
<body>
<div class="container" layout:fragment="content">

    <form th:action="@{/admin/categoria/nuevo}" th:object="${categoria}" method="post">

        <h1 th:text="${categoria.id == null ? 'Registrar Categoria' : 'Editar Categoria'}"></h1>

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre"
                   placeholder="Ingrese el nombre de la categoría" th:field="*{nombre}">

            <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
                [Error de Nombre]
            </div>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="estado" th:field="*{estado}">
                <label class="form-check-label" for="estado">
                    Habilitado (Activo)
                </label>
            </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success" th:text="${categoria.id == null ? 'Registrar' : 'Actualizar'}">Guardar</button>
            <a th:href="@{/admin/categoria}" class="btn btn-secondary">Cancelar</a>
        </div>

    </form>
</div>
</body>
</html>